* {
    margin: 0;
    padding: 0;
}


body,
html {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    overflow-x: hidden;
}

/* Barra de cookies */
.cookie-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 17vh;
    width: 100%;
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }

  .cookie-bar p {
   
    font-size: 16px;
    flex: 1 1 auto;
  }

  .cookie-bar button {
    background-color: white;
    color: darkblue;
    border: 7px double darkblue;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    flex: 0 0 auto;
    margin-left: 10px;
    visibility: visible;
  }

.js{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.67s;
 }
 
 .show{
     opacity: 1;
     filter: blur(0px);
     transform: translateX(0);
     transition: all 1.67s;
 }

.header{
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.logo{

   height: 200px;
   width: 250px; 
}

header {
    width: 100%;
    height: 30%;
    background-color: white;
    max-width: 100vw;
}

#home{
    border-bottom: 7px solid blue;
}

.label_menu, .checkbox{
 font-size: 0vw;
 cursor: pointer;
 border: 0px solid white ;
 display: none;
}

button{
    visibility: hidden;
    font-weight: 22vw;
    
}



.menu{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
}



.lista{
    list-style-type: none;
    display: flex; /* Torna a lista flexível */
    text-decoration: none;
}

.lista li{
    margin-right: 7vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
   
   
}

.lista a{
    text-decoration: none;
    color: inherit;
    font-size: 1.3vw;
}



.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150%;
    min-width: 100vw;
    background-color: #f8f8ff;
    padding-bottom: 8vh;
}



.title {
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom: 6px solid darkblue;
    width: 650px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:20px;
   
}

.title h2{
    font-size: 2.3vw;
}

.chuch_image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}



.image {
    width: 50vw;
    height: 65vh;
}

.image2{
    width: 50vw;
    height: 65vh;
}



.about_us {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh;
    width: 100%;
    font-size: xx-large;
}


.text_about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    width: auto;
    font-size: xx-large;
}


.schedules {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh;
    width: 100%;
    font-size: xx-large;
}

.horarios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: xx-large;
    line-height: 1.9;
   
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh;
    width: 100%;
    font-size: xx-large;
}

.contatos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.9;
    padding-left: 20px;
}

.page1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1vw;
    width: 50vw;
   
}

li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1vw;
  

}

.dia_h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2vw;
}

.dia{
 display: flex;
 justify-content: center;
 width: 350px;
}

.dia li{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 350px;
}



.bold {
    font-weight: bold;
}


#p{
    padding-left: 118px;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    width: auto;
    height: auto;
    background-color: darkblue;
    font-size: x-large;
    line-height: 1.5;
    color: #f8f8ff;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
   
}





/*------------------------- História ------------------*/

#historia{
    border-bottom: 7px solid blue;
}

.titulo {
    display: flex;
    justify-content: center;
    margin: 10px 10px 30px 10px;
}

.versiculo{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
    margin-bottom: 8vh;
    font-size: 0.8vw;
}

.biblia{
    width: 80vw;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    padding-bottom: 7px;
}

.foto_antiga{

     display: flex;
     justify-content: center;
     text-align: center;
     margin-top: 130px;
     margin-bottom: 100px;
     
}

.foto{
    width: 1000px;
    height: 2000px;
}

.history{
    
    width: 70vw;
    font-size: xx-large;
}

.texto{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20vh;
    
}

.page2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4vw;
    font-weight: 400;
}


/*-------------------------- Mensagens ------------------*/

#mensagens{
    border-bottom: 7px solid blue;
}

.reflection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    font-size: xx-large;
    margin-bottom: 15vh;
}

.page3{

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.60vw;
    font-weight: 400;
    
}


/*----------------------------- Devocionais ------------------*/
#devocionais{
    border-bottom: 7px solid blue;
}

.video{
 display: flex;
 justify-content: center;
 align-items: center;
}

.video_pastoral{
    width: 40vw;
    height: 50vh;
}

.local{
    display: flex;
    justify-content: center;
}

.video_pastoral::-webkit-media-controls{
    display: flex;
    height: 200px;
}

/*----------------------------- Localização ------------------------*/

.endereço{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 0px;
    margin-left: 2vw;
    line-height: 1.7;
}

#Localização{
    border-bottom: 7px solid blue;
}

.mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 30px;
}

.h1_endereço{
    display: flex;
    justify-content: center;
    font-weight: 500;
    width: 35vw;
    height: 7vh;
    margin: 20px;
    margin-bottom: 50px;
}
.h1_endereço_2{
    display: flex;
    justify-content: center;
    font-weight: 500;
    margin-bottom: 20px;
    height: 7vh;
}


.link{
    display: flex;
    justify-content: center;
}


/*----------------------------- Fotos ---------------------------*/
#fotos{
    border-bottom: 7px solid blue;
}

.container_fotos{
    display: flex;
    flex-direction: column;
    height: 300%;
    max-width: 100vw;
    background-color: #f8f8ff;
    padding-bottom: 8vh;
}

.title3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
    height: 30px;
    margin-top: 200px !important;
}

.js{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.67s;
 }
 
 .show{
     opacity: 1;
     filter: blur(0px);
     transform: translateX(0);
     transition: all 1.67s;
 }

.header{
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.logo{

   height: 200px;
   width: 250px; 
}

header {
    width: 100%;
    height: 30%;
    background-color: white;
    max-width: 100vw;
}

#home{
    border-bottom: 7px solid blue;
}

.label_menu, .checkbox{
 font-size: 0vw;
 cursor: pointer;
 border: 0px solid white ;
 display: none;
}

button{
    visibility: hidden;
}



.menu{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
}



.lista{
    list-style-type: none;
    display: flex; /* Torna a lista flexível */
    text-decoration: none;
}

.lista li{
    margin-right: 7vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
   
   
}

.lista a{
    text-decoration: none;
    color: inherit;
    font-size: 1.3vw;
}



.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150%;
    max-width: 100vw;
    background-color: #f8f8ff;
    padding-bottom: 8vh;
}





.chuch_image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}



.image {
    width: 50vw;
    height: 65vh;
}

.image2{
    width: 50vw;
    height: 65vh;
}



.text_about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    max-width: 1200px;
    font-size: xx-large;
}



.horarios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: xx-large;
    line-height: 1.9;
   
}



.contatos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.9;
    padding-left: 20px;
}

.page1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1vw;
    width: 50vw;
   
}

li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1vw;
  

}

.dia_h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2vw;
}

.dia{
 display: flex;
 justify-content: center;
 width: 350px;
}

.dia li{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 350px;
}



.bold {
    font-weight: bold;
}


#p{
    padding-left: 118px;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    width: auto;
    height: auto;
    background-color: darkblue;
    font-size: x-large;
    line-height: 1.5;
    color: #f8f8ff;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
}





/*------------------------- História ------------------*/

#historia{
    border-bottom: 7px solid blue;
}

.titulo {
    display: flex;
    justify-content: center;
    margin: 10px 10px 30px 10px;
}

.versiculo{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
    margin-bottom: 8vh;
   
}

.biblia{
    width: 80vw;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 1.7vw;
    padding-bottom: 7px;
}

.foto_antiga{

     display: flex;
     justify-content: center;
     text-align: center;
     margin-top: 130px;
     margin-bottom: 100px;
     
}

.foto{
    width: 1000px;
    height: 2000px;
}

.history{
    
    width: 70vw;
    font-size: xx-large;
}

.texto{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20vh;
    
}

.page2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4vw;
    font-weight: 400;
}


/*-------------------------- Mensagens ------------------*/

#mensagens{
    border-bottom: 7px solid blue;
}

.reflection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    font-size: xx-large;
    margin-bottom: 15vh;
}

.page3{

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.60vw;
    font-weight: 400;
    
}


/*----------------------------- Devocionais ------------------*/
#devocionais{
    border-bottom: 7px solid blue;
}

.video{
 display: flex;
 justify-content: center;
 align-items: center;
}

.video_pastoral{
    width: 40vw;
    height: 50vh;
}

.local{
    display: flex;
    justify-content: center;
}

.video_pastoral::-webkit-media-controls{
    display: flex;
    height: 200px;
}

/*----------------------------- Localização ------------------------*/

.endereço{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 0px;
    margin-left: 2vw;
    line-height: 1.7;
}

#Localização{
    border-bottom: 7px solid blue;
}

.mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 30px;
}

.h1_endereço{
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 2vw;
    width: auto;
    height: 7vh;
    margin: 20px;
    margin-bottom: 50px;
}
.h1_endereço_2{
    display: flex;
    justify-content: center;
    font-weight: 500;
    margin-bottom: 20px;
    height: 7vh;
}


.link{
    display: flex;
    justify-content: center;
}


/*----------------------------- Fotos ---------------------------*/
#fotos{
    border-bottom: 7px solid blue;
}


.title2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5vw !important;
}


.title3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
    height: 30px;
}


.h3{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-size: 2.6vw;
    font-style: italic;
    
}

.h5_fotos{
    font-family:"Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size:1.4vw
    
}

.centralizadinho{
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
   
}



.carousel .carousel-item {
    transition: none !important; /* Desativa transições nos itens do carrossel */
}

.carousel-image {
    height: 90vh; /* Ajuste conforme necessário */
    width: 100vw; /* Ajuste conforme necessário */
    object-fit: cover;
    min-height: auto; /* Força um tamanho mínimo */
    min-width: auto; /* Força um tamanho mínimo */
    transition: none; /* Desativa transições */
}


/*------------------------- CONTRIBUA ------------------*/
#contribua{
    border-bottom: 7px solid blue;
}

.pix{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 150px;
}

.qr_code{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 7px solid darkblue;
    background-color: white;
    border-radius: 7%;
    height: 75vh;
    width: 35vw;
   
}

.cnpj{
    display: flex;
    flex-direction: column;
    line-height: 1.7;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.h2_contribua{
 font-size:1.8vw ;
 font-weight: 300;
}


.h3_contribua{
    font-size: 2vw;
    border: 4px solid black;
    border-radius: 5%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    color: black;
    height: 87px;
}

.qr_code_image{
    display: flex;
    justify-content: center;
}

.qr_code_image img{
    height: 30vh;
    width: 17vw;
}
h4{
    margin: 50px;
    font-size: 1vw;
}



/*------------------------- CONTRIBUA ------------------*/
#contribua{
    border-bottom: 7px solid blue;
}

.pix{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 150px;
}

.qr_code{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 7px solid darkblue;
    background-color: white;
    border-radius: 7%;
    height: 75vh;
    width: 35vw;
   
}

.cnpj{
    display: flex;
    flex-direction: column;
    line-height: 1.7;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.h2_contribua{
 font-size:1.8vw ;
 font-weight: 300;
}


.h3_contribua{
    font-size: 2vw;
    border: 4px solid black;
    border-radius: 5%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    color: black;
    height: 87px;
}

.qr_code_image{
    display: flex;
    justify-content: center;
}

.qr_code_image img{
    height: 30vh;
    width: 17vw;
}
h4{
    margin: 50px;
    font-size: 1vw;
}

/*----------------------------------FALE CONOSCO ----------------------------------------------------------*/

#fale_conosco{
    border-bottom: 7px solid blue;
}

.paragrafo_faleconosco{
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 3.5vw;
}
.paragrafo_faleconosco p{
    font-size: 1.60vw;
}

.paragrafo_faleconosco a{
    margin-top: 6vh;
    font-size: 3vw;
    display: flex;
    justify-content: center;
}

/*----------------------------------- HOOVERS ------------------------------------------------------------*/
.cookie-bar button:hover {
    background-color: darkblue;
    color: #f8f8ff;
    border: 7px double white;
  }



.selectable_button {
    position: relative; /* O elemento pai precisa ter a posição relativa */
    display: inline-block;
    padding-bottom: 7px;
}

.selectable_button::after {
    content: " ";
    width: 0;
    height: 7px; /* Ajuste a altura conforme necessário */
    background-color: blue;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-in-out; /* Ajuste a duração e o tipo de transição conforme necessário */
}

.selectable_button:hover::after {
    width: 100%;
}

.biblia {
    position: relative; /* O elemento pai precisa ter a posição relativa */
    display: inline-block;
}

.biblia::after {
    content: " ";
    width: 0;
    height: 7px; /* Ajuste a altura conforme necessário */
    /*border-bottom: 7px inset darkgreen;*/
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.4s ease-in-out; /* Ajuste a duração e o tipo de transição conforme necessário */
}

.biblia:hover::after {
    width: 100%;
}

/* ------------------------------------------ Media Query --------------------------------------------------------*/


@media only screen and (max-width: 910px){ /*Somente para fazer o menu responsivo*/
   
    .cookie-bar {
        flex-direction: column;
        text-align: center;
        height: 15vh;
      }
    
      .cookie-bar p{
       height: 2vh;
       margin-bottom: 10px;
       width: 95vw;
       font-size: 20px;
      }

      .endereço h2{
       font-size: 26px;
      }

      .cookie-bar button {
        justify-content: center;
        font-size: 20px;
        margin: 10px 0 0;
        width: 35%;
        height: 6vh !important;
        font-size: 30px !important;
      }

    button{
        visibility: visible;
    }

    .menu{
      visibility: hidden;
      display: block;
       z-index: 1;
      
       transition: 0.2s;
       height: 0;
    }
    
    .p_label{
        padding-right: 2vw;
        font-size: 4.5vw;
    }
    .menu .lista{
      
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 14.5%;
        right: 0%;
        width: 30vw;
        background-color: white;
        box-sizing: border-box;
        padding-left: 7vw;
        
    }
  
    

     .menu.active{ /*Para abrir o menu*/
    visibility: visible;
        height: calc(20vh - 4.7rem);
     }
  

    

    .lista li{
        text-align: center;
        margin: 0;
        width: 15vw;
        height: 7vh;
    }

    .lista a{
        font-size: 2.6vw;
    }

    header{
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        
    }

    .header{
        margin-left: 0%;
    }
   

     button{
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        margin-right: 25px !important;
        cursor: pointer;
        font-size: 40px !important;
        background-color: white;
        border: none;
        gap: 20px;
     }

    .tiras{
        display: inline-block;
        border-top: 0.4vh solid blue;
        width: 7vw;
        
        
    }
 
    .tiras::before,.tiras::after{

         content: "";
         display: block;
         width: 7vw;
         height: 0.4vh;
         background-color: blue;
         margin-top: 0.5vh;
         
    }

   .image{
    height: 10vh; 
    width: 20vw;
   }

  footer{
    height: auto;
  }

  footer .page1{
    font-size: 2vw;
  }

.fotos_church{
    width: 100%;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.h3{
 font-size: 4vw !important;
}

  .foto{
    height: auto;
    width: 93%;
    margin-bottom: 100px;
    overflow: hidden;
}

.biblia{
    font-size: 3.7vw !important;
}



.h5_fotos{
    font-size: 2.6vw;
}


.page2{
    font-size: 3vw;
}


.qr_code{
    width: 70vw;
    height: 55vh;
    border-radius: 8.5%;
}

.cnpj{
    margin-top: 2vh;
}

.h2_contribua{
    font-size: 4vw;
}

.h3_contribua{
    font-size: 3vw;
}


h4{
    font-size: 3.5vw;
    font-weight: 400;
}

.qr_code_image img{
    height: 20vh;
    width: 35vw;
    margin-bottom: 2vh;
}

.video_pastoral{
    width: 80vw;
    height: 33vh;
}

.versiculo{
    margin-bottom: 15vh;
}

.video{
    margin-bottom: 15vh;
}

.page1{
    font-size: 3vw;
    width: 70vw;
}


.horarios li, .contatos li{
    font-size: 3vw;
}


.dia_h3{
    font-size: 2.7vw;
    
}

.dia{
    width: 20vw;
}


.versiculo{
    margin-bottom: 7vh;
}

.foto_antiga{
    margin-top: 0;
}

.page3{
    font-size: 3vw;
}



.h1_endereço{
    font-size: 3vw;
    width: 200vw;
    height: 7vh;
}

.image {
    width: 80vw;
    height: 40vh;
}

.image2{
    width: 75vw;
    height: 34vh;
}


.logo{
    height: 20vh;
    width: 45vw;
}


.js{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.0s;
 }
 
 .show{
     opacity: 1;
     filter: blur(0px);
     transform: translateX(0);
     transition: all 1.0s;
 }

 .centralizadinho{
    height: auto;
 }
 .carousel-inner {
    width: 100vw; /* Ocupa toda a largura no mobile */
    height: 50vh; /* Reduz a altura para telas menores */
}

.carousel-image {
    height: auto; /* A imagem se ajusta à altura do container */
    width: auto;  /* A imagem se ajusta à largura do container */
    object-fit: cover; /* Ajusta a imagem para cobrir o container sem distorcer */
}
.title {
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom: 6px solid darkblue;
    width: 170px;
    
}

.title h2{
    font-size: 4vw;
}

.paragrafo_faleconosco p{
    font-size: 2.7vw !important;
}


.paragrafo_faleconosco a{
    font-size: 4vw;
}


}




/* Estilos específicos para o tema escuro */
@media (prefers-color-scheme: dark) {
    header {
        background-color: white !important;
    }
    
    #home{
        border-bottom: 7px solid blue;
    }
    
    .label_menu, .checkbox{
     border: 0px solid white !important;
    }
    
   
    .container {
        background-color: #f8f8ff !important;
    }
    
}


